<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Project</a>
    by <a href="http://www.michaelhartl.com/">Sushil Napit</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.ekantipur.com/">News</a></li>
    </ul>
  </nav>
</footer>